.button {
    background-color: #03a9f4;
    border: none;
    cursor: pointer;
    color: white;
    float: left;
    outline: none;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: normal;
}
.buttonActive {
    background-color: white;
    color: #03a9f4;
    font-weight: bold;
    outline: 3px solid #03a9f4;
    outline-offset: -3px;
}
.buttonContainer {
    background-color: #03a9f4;
    border: none;
    cursor: pointer;
    color: white;
    float: left;
    font-size: 16px;
    margin: 0;
    outline: none;
    width: 100%;
}
.configFile {
    background-color: white;
    color: #03a9f4;
}
.configFileActive {
    background-color: #03a9f4;
    color: white;
}
.floatLeft {
    float: left;
    text-align: left;
}
.floatRight {
    float: right;
    text-align: right;
}
.fullFlex {
    flex-direction: row;
    display: flex;
    justify-content: stretch;
    width: 100%;
}
.tab {
    background-color: white;
    border: 10px solid white;
    color: black;
    height: 100%;
    padding: 0;
    overflow-x: auto;
}
.tabBox {
    background-color: white;
    color: black;
    padding: 0;
    width: 100%;
    box-shadow: 1px 1px 1px 1px black;
}
.tabContainer {
    background-color: white;
    color: black;
    padding: 0;
    width: 100%;
}
.tabContent: {
    background-color: white;
    color: black;
    font-family: monospace;
    height: 100%;
    padding: 0;
}
.topButtonActive {
    background-color: #03a9f4;
    color: white;
    font-weight: bold;
    outline: 3px solid #03a9f4;
    outline-offset: -3px;
    border-bottom: 6px solid white;
}
.topTab {
    background-color: white;
    color: black;
    padding-top: 10px;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.fullFlex > button {
    flex: initial;
}
.fullFlex > label {
    flex: auto;
}
.filesList {
    position: absolute;
    /* 36px is 20px (padding + margin) + 16px (height of label & select) */
    height: calc(100% - 36px);
    left: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: calc(30% - 10px);
}
.fileDisplay {
    position: absolute;
    /* 36px is 20px (padding + margin) + 16px (height of label & select) */
    height: calc(100% - 36px);
    left: 30%;
    width: calc(70% - 20px);
}
#downloadStatusDiv {
    display: none;
}
#status {
    width: 200px;
}
#updateInterval {
    width: 40px;
}
#configTab > .tabBox {
    height: calc(100% - 16px);
    margin: 10px;
    padding: 10px 0 10px 0;
    position: absolute;
    width: calc(100% - 40px);
}
#license {
    overflow: scroll;
}
#licensesTab > .tabBox {
    height: calc(100% - 16px);
    margin: 10px;
    padding: 10px 0 10px 0;
    position: absolute;
    width: calc(100% - 40px);
}
h1 {
    color: #03a9f4;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
h2 {
    color: #03a9f4;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
label {
    padding-left: 10px;
}
li {
    cursor: pointer;
}
progress {
    height: 1em;
    width: 200px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0 10px 0 0;
}
