<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Snips Base Web UI</title>
        <link rel="stylesheet" type="text/css" href="{{ root }}/static/index.css?version=0.5.1" />
        <script type="text/javascript" src="{{ root }}/static/ansi_up.js"></script>
        <script type="text/javascript" src="{{ root }}/static/ace.js"></script>
        <script type="text/javascript" src="{{ root }}/static/keybinding-emacs.js"></script>
        <script type="text/javascript" src="{{ root }}/static/keybinding-sublime.js"></script>
        <script type="text/javascript" src="{{ root }}/static/keybinding-vim.js"></script>
        <script type="text/javascript" src="{{ root }}/static/mode-ini.js"></script>
        <script type="text/javascript" src="{{ root }}/static/theme-textmate.js"></script>
        <script type="text/javascript">
            var intervalID = null;
            var updateInterval = 5000;
            var ansi_up = new AnsiUp;
            var editor = null;

            const timeout = async (ms) => new Promise(res => setTimeout(res, ms))

            async function downloadAssistant(assistantID) {
                // Force error here for now...
                return fetch('{{ root }}/download-assistant?AssistantID=' + assistantID);
            }

            function enableAssistantButtons(enable) {
                {% if email|length %}
                var downloadButton = document.getElementById('installAssistantButton');
                var refreshButton = document.getElementById('refreshAssistantsButton');
                downloadButton.diabled = !enable;
                refreshButton.diabled = !enable;

                {% else %}
                var updateButton = document.getElementById('updateAssistantButton');
                updateButton.diabled = !enable;
                {% endif %}
                if (enable)
                {
                    {% if email|length %}
                    downloadButton.removeAttribute('disabled');
                    refreshButton.removeAttribute('disabled');
                    {% else %}
                    updateButton.removeAttribute('disabled');
                    {% endif %}
                }
                else
                {
                    {% if email|length %}
                    downloadButton.setAttribute('disabled', 'disabled');
                    refreshButton.setAttribute('disabled', 'disabled');
                    {% else %}
                    updateButton.setAttribute('disabled', 'disabled');
                    {% endif %}
                }
            }

            function enableReloadSaveConfig(enable) {
                var saveButton = document.getElementById('saveConfigButton');
                var reloadButton = document.getElementById('reloadConfigButton');
                saveButton.diabled = enable;
                reloadButton.diabled = enable;
                if (enable)
                {
                    saveButton.removeAttribute('disabled');
                    reloadButton.removeAttribute('disabled');
                }
                else
                {
                    saveButton.setAttribute('disabled', 'disabled');
                    reloadButton.setAttribute('disabled', 'disabled');
                }
            }

            function enableSnipsWatchButtons()
            {
                var startButton = document.getElementById('button_start_snips_watch');
                var stopButton = document.getElementById('button_stop_snips_watch');

                var snipsWatchTab = document.getElementById('tab_snips-watch.log');
                if (snipsWatchTab)
                {
                    startButton.diabled = true;
                    startButton.setAttribute('disabled', 'disabled');
                    stopButton.diabled = false;
                    stopButton.removeAttribute('disabled');
                }
                else
                {
                    startButton.diabled = false;
                    startButton.removeAttribute('disabled');
                    stopButton.diabled = true;
                    stopButton.setAttribute('disabled', 'disabled');
                }
            }

            function getSnipsAssistants() {
                enableAssistantButtons(false);
                var assistantList = document.getElementById('assistantList');
                while (assistantList.options.length > 0)
                {
                    assistantList.remove(0);
                }
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/assistant-list', true);
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status == 200) {
                            var assistants = JSON.parse(xhr.responseText);
                            var assistantList = document.getElementById('assistantList');
                            for (var idx = 0; idx < assistants.length; idx++)
                            {
                                var opt = document.createElement('option');
                                opt.innerHTML = assistants[idx].title;
                                opt.value = assistants[idx].id;
                                assistantList.appendChild(opt);
                            }
                            assistantList.selectedIndex = 0;
                            enableAssistantButtons(true);
                        }
                    }
                }
                xhr.send();
            }

            async function getTrainingStatus(assistantID) {
                var assistantList = document.getElementById('assistantList');
                var status = null;
                return fetch('{{ root }}/training-status?AssistantID=' + assistantID)
                    .then((response) => {
                        return response.text();
                    })
                    .then((text) => {
                        return JSON.parse(text);
                    })
                    .catch(function(err) {
                        console.log(err);
                        status = {
                            nluStatus: { needTraining: false },
                            asrStatus: { needTraining: false }
                        }
                        return status;
                    });
            }

            async function installAssistant() {
                var statusDiv = document.getElementById('downloadStatusDiv');
                var statusText = document.getElementById('status');
                statusText.innerHTML = '';
                statusDiv.style.display = 'block';
                enableAssistantButtons(false);
                var assistantList = document.getElementById('assistantList');
                var assistantID = assistantList.options[assistantList.selectedIndex].value;
                stillTraining = true;
                while (stillTraining)
                {
                    trainingStatus = await getTrainingStatus(assistantID);
                    if (!trainingStatus.nluStatus.needTraining
                        && !trainingStatus.asrStatus.needTraining
                        && !trainingStatus.nluStatus.inProgress
                        && !trainingStatus.asrStatus.inProgress)
                    {
                        stillTraining = false;
                        break;
                    }
                    else if (trainingStatus.nluStatus.needTraining)
                    {
                        if (!trainingStatus.nluStatus.inProgress
                            && !trainingStatus.asrStatus.inProgress)
                        {
                            setTimeout(() => {
                                statusText.innerText = 'NLU training in progress...';
                            }, 0);
                            await trainAssistant(assistantID, 'nlu');
                        }
                    }
                    else if (trainingStatus.asrStatus.needTraining)
                    {
                        if (!trainingStatus.nluStatus.inProgress
                            && !trainingStatus.asrStatus.inProgress)
                        {
                            setTimeout(() => {
                                statusText.innerText = 'ASR training in progress...';
                            }, 0);
                            await trainAssistant(assistantID, 'asr');
                        }
                    }
                    await timeout(5000);
                }

                statusText.innerText = 'Download in progress...';
                downloadAssistant(assistantID).
                    then(async function(response) {
                        if (response.status == 200) {
                            statusText.innerText = 'Updating the assistant...';
                            await updateAssistant();
                            alert("Finished downloading the assistant. Beginning upate.")
                        }
                        else if (response.status == 202) {
                            alert('The assistant appears to be the same!');
                        }
                        else {
                            alert("Failed to update the assistant!")
                        }
                        var statusDiv = document.getElementById('downloadStatusDiv');
                        statusDiv.style.display = 'none';
                    })
                    .catch((err) => {
                        console.log(err);
                        alert("Failed to contact the add-on!");
                        var statusDiv = document.getElementById('downloadStatusDiv');
                        statusDiv.style.display = 'none';
                        enableAssistantButtons(true);
                    });
            }

            function onEditorChange() {
                enableReloadSaveConfig(true);
            }

            function reloadConfig()
            {
                var activeConfig = document.getElementsByClassName('configFileActive')[0];
                if (activeConfig != null)
                {
                    showConfig(activeConfig);
                }
            }

            function saveConfig()
            {
                enableReloadSaveConfig(false);
                var activeConfig = document.getElementsByClassName('configFileActive')[0];
                if (activeConfig != null)
                {
                    fileName = activeConfig.innerHTML;
                    fileData = editor.session.getValue();
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '{{ root }}/save-config', true);
                    xhr.setRequestHeader('X-File-Name', fileName);
                    xhr.setRequestHeader('Content-Type', 'text/plain');
                    xhr.setRequestHeader('Content-Length', fileData.length);
                    xhr.responseType = 'text';
                    xhr.onload = function() {
                        if (xhr.readyState === xhr.DONE) {
                            if (xhr.status == 200) {
                                alert(fileName + ' was saved, and the skill server restarted.');
                            }
                            else if (xhr.status == 202) {
                                alert(fileName + ' was saved, but doesn\'t seem to be used.');
                            }
                            else if (xhr.status == 208) {
                                alert(fileName + ' was not changed.')
                            }
                            else if (xhr.status == 403) {
                                alert('You do not have access to change ' + fileName);
                            }
                            else if (xhr.status == 500) {
                                alert('The server encountered an error saving ' + fileName);
                            }
                            else {
                                alert('Unknown response code: ' + xhr.status);
                            }
                        }
                    }
                    xhr.send(fileData);
                }
            }

            function setKeyboard(el)
            {
                editor.setKeyboardHandler(el.options[el.selectedIndex].value);
                expires=new Date(2176, 1, 6);
                document.cookie='keybindings='+el.selectedIndex+';expires='+expires.toUTCString()+';secure;samesite=strict'
            }

            function setUpdateInterval() {
                var updateElement = document.getElementById("updateInterval");
                if (updateElement.value < 0.1)
                    updateElement.value = 0.1;

                window.updateInterval = updateElement.value * 1000;
                if (window.intervalID != null)
                {
                    clearInterval(window.intervalID);
                }
                window.intervalID = setInterval(updateCurrentLog, window.updateInterval);
            }

            function showConfig(el) {
                var list_items = document.getElementsByClassName('configFileActive');
                while (list_items[0])
                {
                    list_items[0].classList.remove('configFileActive');
                }
                el.classList.add('configFileActive');

                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/config?ini=' + el.innerHTML, true);
                xhr.responseType = 'text/html';
                xhr.onload = function() {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status == 200) {
                            if (editor !== null) {
                                editor.session.setValue(xhr.responseText);
                                enableReloadSaveConfig(false);
                            }
                        }
                    }
                }
                xhr.send();
            }

            function showConfigs() {
                showTopTab('buttonConfigs', 'configTab');
                if (editor === null)
                {
                    editor = ace.edit('editor');
                    editor.setTheme('ace/theme/textmate');
                    editor.session.setMode('ace/mode/ini');
                    editor.on("change", onEditorChange);
                    editor.commands.addCommand({
                        name: 'saveFile',
                        bindkey: {
                            win: 'Ctrl-S',
                            mac: 'Command-S',
                            sender: 'editor|cli'
                        },
                        exec: function(env, args, request) {
                            saveConfig();
                        }
                    });
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var nameval = cookies[i].split('=');
                        if (nameval[0] === 'keybindings') {
                            if ((nameval[1] < 0) || (nameval[1] > 4))
                            {
                                nameval[1] = 0;
                            }
                            var keyboardType = document.getElementById('keyboardType');
                            keyboardType.selectedIndex = nameval[1];
                            setKeyboard(keyboardType);
                            break;
                        }
                    }
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', '{{ root }}/config_file_list');
                    xhr.responseType = 'text/html';
                    xhr.onload = function() {
                        if (xhr.readyState == xhr.DONE) {
                            if (xhr.status == 200) {
                                var files = document.getElementById('files');
                                files.innerHTML = xhr.responseText;
                            }
                        }
                    }
                    xhr.send();
                }
            }

            function showControls() {
                showTopTab('buttonControls', 'controlsTab');
            }

            function showLogs() {
                var button = document.getElementsByClassName('buttonActive')[0];
                if (button)
                {
                    var fileName = button.id.split("_")[1];
                    showLog(fileName);
                }
                showTopTab('buttonLogs', 'logTab');
                setUpdateInterval();
            }

            function showLog(fileName) {
                var buttons = document.getElementsByClassName('buttonActive');
                while (buttons[0])
                {
                    buttons[0].classList.remove('buttonActive');
                }
                var tabs = document.getElementsByClassName('tab');
                for (var idx = 0; idx < tabs.length; idx++)
                {
                    tabs[idx].style.display = 'none';
                }
                updateLog(fileName);
                var button = document.getElementById("button_" + fileName);
                button.classList.add('buttonActive');
                var tab = document.getElementById("tab_" + fileName);
                tab.style.display = 'block';
            }

            function showTopTab(buttonName, tabName) {
                clearInterval(window.intervalID);
                window.intervalID = null;
                var topButtons = document.getElementsByClassName('topButtonActive');
                while (topButtons[0])
                {
                    topButtons[0].classList.remove('topButtonActive');
                }
                var topTabs = document.getElementsByClassName('topTab');
                for (var idx = 0; idx < topTabs.length; idx++)
                {
                    topTabs[idx].style.display = 'none';
                }
                var buttonControls = document.getElementById(buttonName);
                buttonControls.classList.add('topButtonActive');
                var topTab = document.getElementById(tabName);
                topTab.style.display = 'block';
            }

            function startSnipsWatch() {
                var startButton = document.getElementById('button_start_snips_watch');
                startButton.diabled = true;
                startButton.setAttribute('disabled', 'disabled');
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/start_snips_watch');
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState == xhr.DONE) {
                        window.location = window.location;
                    }
                }
                xhr.send();
            }

            function stopSnipsWatch() {
                var stopButton = document.getElementById('button_stop_snips_watch');
                stopButton.diabled = true;
                stopButton.setAttribute('disabled', 'disabled');
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/stop_snips_watch');
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState == xhr.DONE) {
                        window.location = window.location;
                    }
                }
                xhr.send();
            }

            async function trainAssistant(assistantID, trainingType) {
                // Force error here for now...
                return fetch('{{ root }}/train-assistant?AssistantID=' + assistantID + '&trainingType=' + trainingType);
            }

            function updateCurrentLog() {
                var button = document.getElementsByClassName('buttonActive')[0];
                if (button)
                {
                    var fileName = button.id.split("_")[1];
                    updateLog(fileName);
                }
            }

            function updateAssistant() {
                enableAssistantButtons(false);
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/update-assistant', true);
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status == 200) {
                            alert("Finished updating the assistant!")
                        }
                        else {
                            alert("Failed to update the assistant!")
                        }
                        enableAssistantButtons(true);
                    }
                }
                xhr.send();
            }

            function updateLog(fileName) {
                var output = document.getElementById(fileName);
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/stream?log=' + fileName, true);
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status == 200) {
                            output.innerHTML = ansi_up.ansi_to_html(xhr.responseText).replace(/(?:\r\n|\r|\n)/g, '<br />');
                        }
                    }
                }
                xhr.send();
            }

            document.addEventListener('DOMContentLoaded', function() {
                setTimeout(function() {
                    ace.config.loadModule('ace/keyboard/vim', function(m) {
                        var vimAPI = ace.require('ace/keyboard/vim').CodeMirror.Vim;
                        vimAPI.defineEx('write', 'w', function(cm, input) {
                            cm.ace.execCommand('saveFile');
                        });
                    });
                    {% if email|length %}
                    getSnipsAssistants();
                    {% endif %}
                    enableSnipsWatchButtons();
                    showControls();
                }, 100);
            });
        </script>
    </head>
    <body>
        <h1 class="floatLeft">Snips.AI Base for Hass.io</h1>
        <table class="floatRight">
            <tr><td>Add-on version:</td><td>{{ addon_version }}</td></tr>
            <tr><td>Snips version:</td><td>{{ snips_version }}</td></tr>
        </table>
        <br clear="all" />
        <div class="buttonContainer">
            <button class="button topButtonActive" id="buttonControls" onclick="showControls()">Server Controls</button>
            <button class="button topButtonActive" id="buttonLogs" onclick="showLogs()">Logs</button>
            <button class="button topButtonActive" id="buttonConfigs" onclick="showConfigs()">Skill Configs</button>
        </div>
        <br clear="all" />
        <div id="controlsTab" class="topTab">
            {% if email|length %}
            <h2>Download, Install, and Update Assistant</h2>
            <p>Your assistants are listed in the drop-list below.  Choose
            the assistant you want to install, and click the Install
            Assistant button.  This assistant you choose will also be copied
            to {{ assistant_zip }}.  Please note this may take several
            minutes.</p>
            <p>If the drop-list is empty, please double-check the addon's
            Config.  The snips_console settings are empty or incorrect.</p>
            <label>Snips Assistants:
                <select id="assistantList">
                </select>
            </label>
            <br clear="all" />
            <input id="refreshAssistantsButton" value="Refresh Assistant List" type="button" onclick="getSnipsAssistants()" />
            <input id="installAssistantButton" value="Install Assistant" type="button" onclick="installAssistant()" />
            <div id="downloadStatusDiv">
                <progress></progress><div id="status"></div>
            </div>
            {% else %}
            <h2>Update Assistant</h2>
            <p>If you have copied a new assistant to {{ assistant_zip }},
            click the Update Assistant button. Please note this could take a
            few minutes.</p>
            <input id="updateAssistantButton" value="Update Assistant" type="button" onclick="updateAssistant()" />
            {% endif %}
            <br clear="all" />&nbsp;
            <h2>Snips-watch</h2>
            <p>You can start and stop snips-watch, even if you didn't
            configure it to be started.  Note that starting it here will not
            change the configuration.  If it is disabled in the
            configuration, the next time you restart this addon, snips-watch
            will not be running.</p>
            <p>The snips-watch log is always the first log file, when it is
            running.</p>
            <button id="button_start_snips_watch" onclick="startSnipsWatch()">Start snips-watch</button>
            <button id="button_stop_snips_watch" onclick="stopSnipsWatch()">Stop snips-watch</button>
        </div>
        <div id="logTab" class="topTab">
            Update interval: <input id="updateInterval" type="number" value="5.0" min="0.1" step="0.1" />&nbsp;<input value="Set" type="button" onclick="setUpdateInterval()" />
            <hr />
            <div class="tabBox">
                <div class="buttonContainer">
                    {% for fileName in fileNames %}
                    <button class="button buttonActive" id="button_{{ fileName }}" onclick="showLog('{{ fileName }}')">{{ fileName }}</button>
                    {% endfor %}
                </div>
                <br clear="all" />
                <div class="tabContainer">
                    {% for fileName in fileNames %}
                    <div class="tab" id="tab_{{ fileName }}">
                        <div class="tabContent" id="{{ fileName }}">Loading data, please wait...</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="configTab" class="topTab">
            <div class="fullFlex" />
                <label>Keyboard type:
                    <select id="keyboardType" onchange="setKeyboard(this)">
                        <option value="" selected>Default</option>
                        <option value="ace/keyboard/emacs">emacs</option>
                        <option value="ace/keyboard/sublime">sublime</option>
                        <option value="ace/keyboard/vim">vim</option>
                    </select>
                </label>
                <button id="reloadConfigButton" onclick="reloadConfig()">Reload</button>
                <button id="saveConfigButton" onclick="saveConfig()">Save</button>
            </div>
            <div class="tabBox">
                <div id="files">Loading file list, please wait...</div>
                <div id="editor">Please select a file to the left.</div>
            </div>
        </div>
    </body>
</html>
