<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Snips.AI Base for Hass.io Web UI</title>
        <link rel="stylesheet" type="text/css" href="{{ root }}/static/index.css?version=0.6.0" />
        <script type="text/javascript" src="{{ root }}/static/ansi_up.js"></script>
        <script type="text/javascript" src="{{ root }}/static/ace.js"></script>
        <script type="text/javascript" src="{{ root }}/static/keybinding-emacs.js"></script>
        <script type="text/javascript" src="{{ root }}/static/keybinding-sublime.js"></script>
        <script type="text/javascript" src="{{ root }}/static/keybinding-vim.js"></script>
        <script type="text/javascript" src="{{ root }}/static/localization.js?version=0.5.1B"></script>
        <script type="text/javascript" src="{{ root }}/static/mode-ini.js"></script>
        <script type="text/javascript" src="{{ root }}/static/theme-textmate.js"></script>
        <script type="text/javascript" src="{{ root }}/static/translations.js?version=0.5.1H"></script>
        <script type="text/javascript">
            var intervalID = null;
            var updateInterval = 5000;
            var ansi_up = new AnsiUp;
            var editor = null;

            const timeout = async (ms) => new Promise(res => setTimeout(res, ms))

            String.prototype.format = function () {
                var args = arguments;
                return this.replace(/\{(\d+)\}/g, function (m, n) {
                    return args[n];
                });
            };

            async function downloadAssistant(assistantID) {
                // Force error here for now...
                return fetch('{{ root }}/download-assistant?AssistantID=' + assistantID);
            }

            function enableAssistantButtons(enable) {
                {% if email|length %}
                var downloadButton = document.getElementById('installAssistantButton');
                var refreshButton = document.getElementById('refreshAssistantsButton');
                downloadButton.diabled = !enable;
                refreshButton.diabled = !enable;

                {% else %}
                var updateButton = document.getElementById('updateAssistantButton');
                updateButton.diabled = !enable;
                {% endif %}
                if (enable)
                {
                    {% if email|length %}
                    downloadButton.removeAttribute('disabled');
                    refreshButton.removeAttribute('disabled');
                    {% else %}
                    updateButton.removeAttribute('disabled');
                    {% endif %}
                }
                else
                {
                    {% if email|length %}
                    downloadButton.setAttribute('disabled', 'disabled');
                    refreshButton.setAttribute('disabled', 'disabled');
                    {% else %}
                    updateButton.setAttribute('disabled', 'disabled');
                    {% endif %}
                }
            }

            function enableReloadSaveConfig(enable) {
                var saveButton = document.getElementById('saveConfigButton');
                var reloadButton = document.getElementById('reloadConfigButton');
                saveButton.diabled = enable;
                reloadButton.diabled = enable;
                if (enable)
                {
                    saveButton.removeAttribute('disabled');
                    reloadButton.removeAttribute('disabled');
                }
                else
                {
                    saveButton.setAttribute('disabled', 'disabled');
                    reloadButton.setAttribute('disabled', 'disabled');
                }
            }

            function enableSnipsWatchButtons()
            {
                var startButton = document.getElementById('button_start_snips_watch');
                var stopButton = document.getElementById('button_stop_snips_watch');

                var snipsWatchTab = document.getElementById('tab_snips-watch.log');
                if (snipsWatchTab)
                {
                    startButton.diabled = true;
                    startButton.setAttribute('disabled', 'disabled');
                    stopButton.diabled = false;
                    stopButton.removeAttribute('disabled');
                }
                else
                {
                    startButton.diabled = false;
                    startButton.removeAttribute('disabled');
                    stopButton.diabled = true;
                    stopButton.setAttribute('disabled', 'disabled');
                }
            }

            function getSnipsAssistants() {
                enableAssistantButtons(false);
                var assistantList = document.getElementById('assistantList');
                while (assistantList.options.length > 0)
                {
                    assistantList.remove(0);
                }
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/assistant-list', true);
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status == 200) {
                            var assistants = JSON.parse(xhr.responseText);
                            var assistantList = document.getElementById('assistantList');
                            for (var idx = 0; idx < assistants.length; idx++)
                            {
                                var opt = document.createElement('option');
                                opt.innerText = assistants[idx].title;
                                opt.value = assistants[idx].id;
                                assistantList.appendChild(opt);
                            }
                            assistantList.selectedIndex = 0;
                            enableAssistantButtons(true);
                        }
                    }
                }
                xhr.send();
            }

            async function getTrainingStatus(assistantID) {
                var assistantList = document.getElementById('assistantList');
                var status = null;
                return fetch('{{ root }}/training-status?AssistantID=' + assistantID)
                    .then((response) => {
                        return response.text();
                    })
                    .then((text) => {
                        return JSON.parse(text);
                    })
                    .catch(function(err) {
                        console.log(err);
                        status = {
                            nluStatus: { needTraining: false },
                            asrStatus: { needTraining: false }
                        }
                        return status;
                    });
            }

            async function installAssistant() {
                var statusDiv = document.getElementById('downloadStatusDiv');
                var statusText = document.getElementById('status');
                statusText.innerText = '';
                statusDiv.style.display = 'block';
                enableAssistantButtons(false);
                var assistantList = document.getElementById('assistantList');
                var assistantID = assistantList.options[assistantList.selectedIndex].value;
                stillTraining = true;
                while (stillTraining)
                {
                    trainingStatus = await getTrainingStatus(assistantID);
                    if (!trainingStatus.nluStatus.needTraining
                        && !trainingStatus.asrStatus.needTraining
                        && !trainingStatus.nluStatus.inProgress
                        && !trainingStatus.asrStatus.inProgress)
                    {
                        stillTraining = false;
                        break;
                    }
                    else if (trainingStatus.nluStatus.needTraining)
                    {
                        if (!trainingStatus.nluStatus.inProgress
                            && !trainingStatus.asrStatus.inProgress)
                        {
                            setTimeout(() => {
                                statusText.innerText = window.localization.for('NLUTraining');
                            }, 0);
                            await trainAssistant(assistantID, 'nlu');
                        }
                    }
                    else if (trainingStatus.asrStatus.needTraining)
                    {
                        if (!trainingStatus.nluStatus.inProgress
                            && !trainingStatus.asrStatus.inProgress)
                        {
                            setTimeout(() => {
                                statusText.innerText = window.localization.for('ASRTraining');
                            }, 0);
                            await trainAssistant(assistantID, 'asr');
                        }
                    }
                    await timeout(5000);
                }

                statusText.innerText = window.localization.for('Downloading');
                downloadAssistant(assistantID).
                    then(async function(response) {
                        if (response.status == 200) {
                            await _updateAssistant();
                        }
                        else if (response.status == 202) {
                            alert(window.localization.for('AssistantNotChanged'));
                        }
                        else {
                            alert(window.localization.for('AssistantUpdateFailed'));
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                        alert(window.localization.for('AddonContactFailed'));
                        var statusDiv = document.getElementById('downloadStatusDiv');
                        statusDiv.style.display = 'none';
                        enableAssistantButtons(true);
                    });
            }

            function onEditorChange() {
                enableReloadSaveConfig(true);
            }

            function reloadConfig()
            {
                var activeConfig = document.getElementsByClassName('configFileActive')[0];
                if (activeConfig != null)
                {
                    showConfig(activeConfig);
                }
            }

            function saveConfig()
            {
                enableReloadSaveConfig(false);
                var activeConfig = document.getElementsByClassName('configFileActive')[0];
                if (activeConfig != null)
                {
                    fileName = activeConfig.innerText;
                    fileData = editor.session.getValue();
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '{{ root }}/save-config', true);
                    xhr.setRequestHeader('X-File-Name', fileName);
                    xhr.setRequestHeader('Content-Type', 'text/plain');
                    xhr.setRequestHeader('Content-Length', fileData.length);
                    xhr.responseType = 'text';
                    xhr.onload = function() {
                        if (xhr.readyState === xhr.DONE) {
                            if (xhr.status == 200) {
                                alert(window.localization.for('ConfigSavedAndSkillServerRestarted').format(fileName));
                            }
                            else if (xhr.status == 202) {
                                alert(window.localization.for('ConfigSavedNotUsed').format(fileName));
                            }
                            else if (xhr.status == 208) {
                                alert(window.localization.for('ConfigUnchanged').format(fileName));
                            }
                            else if (xhr.status == 403) {
                                alert(window.localization.for('ConfigPermissionDenied').format(fileName));
                            }
                            else if (xhr.status == 500) {
                                alert(window.localization.for('ConfigServerErrorDuringSave').format(fileName));
                            }
                            else {
                                alert(window.localization.for('ConfigUnknownResponseCode').format(xhr.status, fileName));
                            }
                        }
                    }
                    xhr.send(fileData);
                }
            }

            function setKeyboard(el)
            {
                editor.setKeyboardHandler(el.options[el.selectedIndex].value);
                expires=new Date(2176, 1, 6);
                document.cookie='keybindings='+el.selectedIndex+';expires='+expires.toUTCString()+';secure;samesite=strict'
            }

            function setUpdateInterval() {
                var updateElement = document.getElementById('updateInterval');
                if (updateElement.value < 0.1)
                    updateElement.value = 0.1;

                window.updateInterval = updateElement.value * 1000;
                if (window.intervalID != null)
                {
                    clearInterval(window.intervalID);
                }
                window.intervalID = setInterval(updateCurrentLog, window.updateInterval);
            }

            function showConfig(el) {
                var list_items = document.getElementsByClassName('configFileActive');
                while (list_items[0])
                {
                    list_items[0].classList.remove('configFileActive');
                }
                el.classList.add('configFileActive');

                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/config?ini=' + el.innerText, true);
                xhr.responseType = 'text/html';
                xhr.onload = function() {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status == 200) {
                            if (editor !== null) {
                                editor.session.setValue(xhr.responseText);
                                enableReloadSaveConfig(false);
                            }
                        }
                    }
                }
                xhr.send();
            }

            function showConfigs() {
                showTopTab('buttonConfigs', 'configTab');
                if (editor === null)
                {
                    editor = ace.edit('editor');
                    editor.setTheme('ace/theme/textmate');
                    editor.session.setMode('ace/mode/ini');
                    editor.on('change', onEditorChange);
                    editor.commands.addCommand({
                        name: 'saveFile',
                        bindkey: {
                            win: 'Ctrl-S',
                            mac: 'Command-S',
                            sender: 'editor|cli'
                        },
                        exec: function(env, args, request) {
                            saveConfig();
                        }
                    });
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var nameval = cookies[i].split('=');
                        if (nameval[0] === 'keybindings') {
                            if ((nameval[1] < 0) || (nameval[1] > 4))
                            {
                                nameval[1] = 0;
                            }
                            var keyboardType = document.getElementById('keyboardType');
                            keyboardType.selectedIndex = nameval[1];
                            setKeyboard(keyboardType);
                            break;
                        }
                    }
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', '{{ root }}/config_file_list');
                    xhr.responseType = 'text/html';
                    xhr.onload = function() {
                        if (xhr.readyState == xhr.DONE) {
                            if (xhr.status == 200) {
                                var files = document.getElementById('files');
                                files.innerHTML = xhr.responseText;
                            }
                        }
                    }
                    xhr.send();
                }
            }

            function showControls() {
                showTopTab('buttonControls', 'controlsTab');
            }

            function showLicense(el) {
                var list_items = document.getElementsByClassName('licenseFileActive');
                while (list_items[0])
                {
                    list_items[0].classList.remove('licenseFileActive');
                }
                el.classList.add('licenseFileActive');

                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/license?license=' + el.innerText, true);
                xhr.responseType = 'text/html';
                xhr.onload = function() {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status == 200) {
                            var license = document.getElementById('license');
                            license.innerHTML = '<pre>' + xhr.responseText + '</pre>';
                        }
                    }
                }
                xhr.send();
            }

            function showLicenses() {
                showTopTab('buttonLicenses', 'licensesTab');
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/license-list');
                xhr.responseType = 'text/html';
                xhr.onload = function() {
                    if (xhr.readyState == xhr.DONE) {
                        if (xhr.status == 200) {
                            var files = document.getElementById('licensefiles');
                            files.innerHTML = xhr.responseText;
                        }
                    }
                }
                xhr.send();
            }

            function showLogs() {
                var button = document.getElementsByClassName('buttonActive')[0];
                if (button)
                {
                    var fileName = button.id.split('_')[1];
                    showLog(fileName);
                }
                showTopTab('buttonLogs', 'logTab');
                setUpdateInterval();
            }

            function showLog(fileName) {
                var buttons = document.getElementsByClassName('buttonActive');
                while (buttons[0])
                {
                    buttons[0].classList.remove('buttonActive');
                }
                var tabs = document.getElementsByClassName('tab');
                for (var idx = 0; idx < tabs.length; idx++)
                {
                    tabs[idx].style.display = 'none';
                }
                updateLog(fileName);
                var button = document.getElementById('button_' + fileName);
                button.classList.add('buttonActive');
                var tab = document.getElementById('tab_' + fileName);
                tab.style.display = 'block';
            }

            function showTopTab(buttonName, tabName) {
                clearInterval(window.intervalID);
                window.intervalID = null;
                var topButtons = document.getElementsByClassName('topButtonActive');
                while (topButtons[0])
                {
                    topButtons[0].classList.remove('topButtonActive');
                }
                var topTabs = document.getElementsByClassName('topTab');
                for (var idx = 0; idx < topTabs.length; idx++)
                {
                    topTabs[idx].style.display = 'none';
                }
                var buttonControls = document.getElementById(buttonName);
                buttonControls.classList.add('topButtonActive');
                var topTab = document.getElementById(tabName);
                topTab.style.display = 'block';
            }

            function startSnipsWatch() {
                var startButton = document.getElementById('button_start_snips_watch');
                startButton.diabled = true;
                startButton.setAttribute('disabled', 'disabled');
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/start_snips_watch');
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState == xhr.DONE) {
                        window.location = window.location;
                    }
                }
                xhr.send();
            }

            function stopSnipsWatch() {
                var stopButton = document.getElementById('button_stop_snips_watch');
                stopButton.diabled = true;
                stopButton.setAttribute('disabled', 'disabled');
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/stop_snips_watch');
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState == xhr.DONE) {
                        window.location = window.location;
                    }
                }
                xhr.send();
            }

            async function trainAssistant(assistantID, trainingType) {
                // Force error here for now...
                return fetch('{{ root }}/train-assistant?AssistantID=' + assistantID + '&trainingType=' + trainingType);
            }

            function updateCurrentLog() {
                var button = document.getElementsByClassName('buttonActive')[0];
                if (button)
                {
                    var fileName = button.id.split('_')[1];
                    updateLog(fileName);
                }
            }

            async function updateAssistant() {
                enableAssistantButtons(false);
                await _updateAssistant();
            }

            function _updateAssistant() {
                var statusDiv = document.getElementById('downloadStatusDiv');
                var statusText = document.getElementById('status');
                statusDiv.style.display = 'block';
                setTimeout(() => {
                    statusText.innerText = window.localization.for('UpdatingAssistant');
                }, 0);
                return fetch('{{ root }}/update-assistant')
                    .then((response) => {
                        if (response.status == 200) {
                            alert(window.localization.for('UpdatingAssistantDone'));
                        }
                        else {
                            alert(window.localization.for('AssistantUpdateFailed'));
                        }
                    })
                    .catch(() => {
                        alert(window.localization.for('AssistantUpdateFailed'));
                    })
                    .then(() => {
                        statusDiv.style.display = 'none';
                        enableAssistantButtons(true);
                    });
            }

            function updateLog(fileName) {
                var output = document.getElementById(fileName);
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '{{ root }}/stream?log=' + fileName, true);
                xhr.responseType = 'text';
                xhr.onload = function() {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status == 200) {
                            output.innerHTML = ansi_up.ansi_to_html(xhr.responseText).replace(/(?:\r\n|\r|\n)/g, '<br />');
                        }
                    }
                }
                xhr.send();
            }

            document.addEventListener('DOMContentLoaded', function() {
                setTimeout(function() {
                    initTranslations();
                    ace.config.loadModule('ace/keyboard/vim', function(m) {
                        var vimAPI = ace.require('ace/keyboard/vim').CodeMirror.Vim;
                        vimAPI.defineEx('write', 'w', function(cm, input) {
                            cm.ace.execCommand('saveFile');
                        });
                    });
                    {% if email|length %}
                    getSnipsAssistants();
                    {% endif %}
                    enableSnipsWatchButtons();
                    showControls();
                }, 100);
            });
        </script>
    </head>
    <body>
        <!-- All translatable text should come from a string in
        translations.js!  Add a class to the element, and name it as
        "l10n-blah" where "blah" is the string ID in translations.js.
        The l10n class should be the FIRST class in the list to make it easier
        to identify. -->
        <h1 class="l10n-title floatLeft"></h1>
        <table class="floatRight">
            <tr><td class="l10n-addonVersion"></td><td>{{ addon_version }}</td></tr>
            <tr><td class="l10n-snipsVersion"></td><td>{{ snips_version }}</td></tr>
        </table>
        <br clear="all" />
        <div class="buttonContainer">
            <button class="l10n-serverControlsTabButton button topButtonActive" id="buttonControls" onclick="showControls()"></button>
            <button class="l10n-logsTabButton button topButtonActive" id="buttonLogs" onclick="showLogs()"></button>
            <button class="l10n-skillConfigsTabButton button topButtonActive" id="buttonConfigs" onclick="showConfigs()"></button>
            <button class="l10n-licensesTabButton button topButtonActive" id="buttonLicenses" onclick="showLicenses()"></button>
        </div>
        <br clear="all" />
        <div id="controlsTab" class="topTab">
            {% if email|length %}
            <h2 class="l10n-downloadAssistantTitle"></h2>
            <p>Your assistants are listed in the drop-list below.  Choose
            the assistant you want to install, and click the Install
            Assistant button.  This assistant you choose will also be copied
            to {{ assistant_zip }}.  Please note this may take several
            minutes.</p>
            <p><span class="l10n-emptyAssistantsList"></span></p>
            <label><span class="l10n-snipsAssistantsLabel"></span>
                <select id="assistantList">
                </select>
            </label>
            <br clear="all" />
            <button id="refreshAssistantsButton" class="l10n-refreshAssistantsListButton" onclick="getSnipsAssistants()"></button>
            <button id="installAssistantButton" class="l10n-installAssistantButton" onclick="installAssistant()"></button>
            {% else %}
            <h2 class="l10n-updateAssistantTitle"></h2>
            <p>If you have copied a new assistant to {{ assistant_zip }},
            click the Update Assistant button. Please note this could take a
            few minutes.</p>
            <button id="updateAssistantButton" class="l10n-updateAssistantButton" type="button" onclick="updateAssistant()"></button>
            {% endif %}
            <div id="downloadStatusDiv">
                <progress></progress><div id="status"></div>
            </div>
            <br clear="all" />&nbsp;
            <h2 class="l10n-snipsWatchTitle">Snips-watch</h2>
            <p><span class="l10n-snipsWatchPara1"></span></p>
            <p><span class="l10n-snipsWatchPara2"></span></p>
            <button id="button_start_snips_watch" class="l10n-startSnipsWatchButton" onclick="startSnipsWatch()"></button>
            <button id="button_stop_snips_watch" class="l10n-stopSnipsWatchButton" onclick="stopSnipsWatch()"></button>
        </div>
        <div id="logTab" class="topTab">
            <span class="l10n-updateIntervalLabel">&nbsp;</span>&nbsp;<input id="updateInterval" type="number" value="5.0" min="0.1" step="0.1"></input>&nbsp;<button class="l10n-setButton" onclick="setUpdateInterval()"></button>
            <hr />
            <div class="tabBox">
                <div class="buttonContainer">
                    {% for fileName in fileNames %}
                    <button class="button buttonActive" id="button_{{ fileName }}" onclick="showLog('{{ fileName }}')">{{ fileName }}</button>
                    {% endfor %}
                </div>
                <br clear="all" />
                <div class="tabContainer">
                    {% for fileName in fileNames %}
                    <div class="tab" id="tab_{{ fileName }}">
                        <div class="tabContent" id="{{ fileName }}"><span class="l10n-loadingLogData"></span></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="configTab" class="topTab">
            <div class="fullFlex" />
                <label><span class="l10n-keyboardTypeLabel">&nbsp;</span>
                    <select id="keyboardType" onchange="setKeyboard(this)">
                        <option value="" selected>Default</option>
                        <option value="ace/keyboard/emacs">emacs</option>
                        <option value="ace/keyboard/sublime">sublime</option>
                        <option value="ace/keyboard/vim">vim</option>
                    </select>
                </label>
                <button id="reloadConfigButton" class="l10n-reloadButton" onclick="reloadConfig()"></button>
                <button id="saveConfigButton" class="l10n-saveButton" onclick="saveConfig()"></button>
            </div>
            <div class="tabBox">
                <div id="files" class="l10n-loadingFileList filesList"></div>
                <div id="editor" class="l10n-selectFile fileDisplay"></div>
            </div>
        </div>
        <div id="licensesTab" class="topTab">
            <div class="tabBox">
                <div id="licensefiles" class="l10n-loadingFileList filesList"></div>
                <div id="license" class="l10n-selectFile fileDisplay"></div>
            </div>
        </div>
    </body>
</html>
